@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

html,body{
    height: 00%;
    width: 100%;
}

#nav {
    height: 140px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    padding: 0 145px;
    gap: 50px;
    align-items: center;
    z-index: 99;
}

#nav img{
    height: 75px;
}

#nav h4 {
    text-transform: uppercase;
    ;
}

video {
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    position: fixed;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1 {
    font-size: 80px;
    font-weight: 900;
    position: relative;
    
}

#page1 h1::before {
    content: "TATLI MOLA LEZZET ŞÖLENİ";
    position: absolute;
    color: #000;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 0.01px red;
    z-index: -1;
}


#page1 h2 {
    font-size: 40px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p {
    font-size: 15px;
    font-weight: 300;
    width: 40%;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar{
    display: none;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll ;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4 {
    display: inline-block;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: transparent;
    transition: all linear 0.6s;
    margin-right: 15px;
    -webkit-text-stroke: 1px #e1e1e1;
}

#scroller h4:hover{
    color: #e1e1e1;
}

@keyframes scroll {
   from{
    transform: translateX(0);
   }
   to{
    transform: translateX(-100%);
   } 
}

#about-us {
    height: 40vh;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 10;
    padding: 0 50px;
    align-items: center;
    justify-content: space-around;
}

#about-us img{
    height: 200px;
    width: 200px;
}

#about-us-in {
    width: 50%;
    text-align: center;
}

#about-us-in h3 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

#about-us-in p {
    font-size: 20px;
    line-height: 25px;
}

#card-container {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
   
}

/*CARD CONTAINER */
.card {
  width: 300px;
  height: 120px;
  transition: all .5s;
  box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
             -15px -15px 30px rgba(60, 60, 60, 0.082);
  text-align: center;
  overflow: hidden;
}

.card:hover {
  height: 254px;
  background: linear-gradient(360deg, #2e2e2e 60%, hsla(0, 0%, 13%, 1) 70%);
}

.card .header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1b1b1b;  
  margin-bottom: 16px;
}

.card .header .img-box {
  width: 50px;
}

.card .header .title {
  font-size: 1.1em;
  letter-spacing: .1em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px 0 14px 0;
  transition: all .5s;
  color: #f3f3f3;
}


.card:hover .card .header .title {
  padding: 0;
}

.card .content {
  display: block;
  text-align: justify;
  color: #212121;
  margin: 0 18px;
}

.card .content p {
  transition: all .5s;
  font-size: 1em;
  margin-bottom: 30px;
}

.card .content a {
  color: red;
  cursor: pointer;
  transition: all .5s;
  font-size: .8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.card .content .btn-link:hover {
  border-bottom: 1px solid red;
}


#more-for-us {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e1e1e1;
}

#more-for-us h4 {
    width: 45%;
    line-height: 70px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
}

#more-for-us img {
    height: 100%;
    object-fit: cover;
    width: 14%;
}

#page3 {
    height: 60vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3>span {
    font-size: 30px;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;
}

#more {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  background-color: #000;
  text-align: center;
  padding: 0 2em;
  z-index: 9;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

#more>h1 {
    font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  font-weight: 900;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: #fff;
  transition: all 0.3s ease;
  z-index: 3;
}

#more h1:hover{
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
}

#why-gastro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    gap: 10px;
}

#border {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 33%;
    gap: 10px;
    background: #212121;
    border-radius: 10px;
    padding: 10px 10px;
}

#border img {
    transition: all 0.5s ease; 
}

#border h2 {
    transition: all 0.5s ease;
}

#border:hover img {
    scale: 1.5;
    transform: rotate(10deg);
}

#border:hover h2 {
    color: #ff0266;
    letter-spacing: 2px;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 45px;
    height: 45px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #2e2e2e;
    border-radius: 0 4px 0 45px;
}

.go-arrow {
    margin-top: -4px ;
    margin-right: -4px;
    color: white;
}

#border:before {
    content: "";
    position: relative;
    z-index: -1;
    top: 0;
    right: 0;
    background: #000;
    height: 10px;
    width: 30px;
    border-radius: 45px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

#border:hover {
    background-color: #2e2e2e;
}

#desc {
    height: 60vh;
    width: 100%;
    background-color: #000;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 10;
    gap: 10px;
    padding: 0 20px;
}

#desc-in1 {
    height: 100%;
    width: 50%;
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 40px;
    border-radius: 30px;
}

#desc-in1 img{
    transition: all 0.5s ease;
}

#desc-in1:hover img {
    transform: scale(2);
}

#desc-in1-auth {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#desc-in1-auth span {
    color: #e1e1e1;
}

#desc-in2 {
    height: 100%;
    width: 50%;
    background-color: #1b1b1b;
    display: flex;
    align-items:flex-start;
    justify-content:space-around;
    flex-direction: column;
    padding: 10px 40px;
    border-radius: 30px;
}

#desc-in2 h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 100px;
    font-weight: 900;
    transition: all 0.5s ease;
}

#desc-in2 h1:hover {
    letter-spacing: 5px;
    color: #ff0266;
}
